{% for order in orders%}
	<ul>
		<li>ID: {{ order["id"] }}</li>
		<li>Order time: {{ order["order_time"] }}</li>
		<li>Checkin date: {{ order["checkin_date"] }}</li>
		<li>Checkout date: {{ order["checkout_date"] }}</li>
		<li>Cost: {{ order["cost"] }}</li>
		<li>Status: 
			{% if order["status"] == 0 %}
				Pending payment
			{% elif order["status"] == 1 %}
				Paid
			{% elif order["status"] == 2 %}
				Canceled, pending refund
			{% elif order["status"] == 3 %}
				Canceled, refunded
			{% endif %}
		</li>
	</ul>
{% endfor %}